body{
	margin: 0;
	padding: 0;
	background: url("https://cdn.pixabay.com/photo/2017/04/23/18/59/table-2254656_960_720.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	
}

header{
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(2px);
	box-shadow: 2px 2px 4px 4px rgba(0,0,0, 0.5);
	padding: 20px;
	width: 100%;
	height: 30px;
}

.title{
	position: fixed;
	left: 350px;
}

.title h3{
	color: #fff;
	margin: 0;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	font-size: 35px;
	letter-spacing: 3px;
	font-weight: 900;
}

.sidenav{
	background: rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px 4px rgba(0,0,0, 0.4);
	backdrop-filter: blur(2px);
	margin-top: 72px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
}

.sidenav a{
	color: #fff;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
	font-size: 18px;
}

.sidenav a:hover{
	background: rgba(255,255,255,0.3);
	
	
}

.sidenav i{
	padding-right: 10px;
}

label #navham{
	z-index: 1;
	color: #fff;
	text-shadow: 1px 1px 1px rgb(0,0,0);
	position: fixed;
	cursor: pointer;
	left: 70px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #navham:hover{
	/*color: #19B3D3;*/
	background-color: #fff;
	text-shadow: 1px 1px 1px rgb(255,255,255);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

#check:checked ~ .sidenav a:hover{
	background: rgba(255,255,255,0.3);
}



#check:checked ~ .sidenav{
	left: -190px;
}

#check:checked ~ .sidenav a span{
	display: none;
}

#check:checked ~ .sidenav a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}

.content{
	margin-left: 250px;
	
	transition: 0.5s;
}

#check:checked ~ .content{
	margin-left: 60px;
}

#check{
	display: none;
}

.info{
	background-color: #fff;
	position: fixed;
	top: 12%;
	left: 19%;
	padding: 20px;
	border-radius: 5px;
	width: 78%;
	height: 83%;
	overflow: scroll;
	overflow-x: hidden;
	box-shadow:2px 2px 8px black;
	transition: 0.5s;
}

#check:checked ~ .content .info{
	left: 6%;
	width: 91%;
}

.info img{
	width: 600px;
	height: 400px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 6px rgb(0,0,0);
}

table{
	border: 1px solid #000;
	border-collapse: collapse;
}
th{
	border: 1px solid #000;
	border-collapse: collapse;
}

td{
	border: 1px solid #000;
	text-align: center;
}

.info h2{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
	font-size: 30px;
}

.info h3{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	text-align: center;
	font-size: 26px;
}

.info .csol{
	
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}

.info p{
	font-size: 22px;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

.info li{
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

.info ul{
	align-items: center;
	margin-left: 400px;
}

.info .van{
	margin-left: -440px;
}

#check:checked ~ .content .info ul{
	margin-left: 500px;
}